{% extends 'members/u_base.html' %}
{% load settings_value %}
{% load static %}

{% block top_nav %}
	<nav class='row' id='home-nav'>
	<div class="nav-wrapper">
		<div id='logo'>
			<a href="#"><img class='logo-img' /></a>
		</div>
		<ul id="nav-mobile" class="right">
{% endblock %}

{% block main_body %}
	<div id='jumbotron'>
		{% block content %}
			<h2>{{ title }}</h2>
			{% autoescape off %}
				{{ page_body }}
			{% endautoescape %}


				{% endblock %}
			</div>
{% endblock %}

{% block footer %}
	<!-- Footer -->
	<footer class="home-footer">
		<div class="footer-copyright">
      <div class="container">
      	<span id='copyright'>© 2016 |  Office Nomads | <a id='nadine-link' href="http://nadineproject.org/" target="_new">The Nadine Project</a></span>
			</div>
    </div>
  </footer>
	<!-- End Page -->
</div>
{% endblock %}

{% block extrajs %}
	<script>
		$(document).ready(function(){

			$(document).on('scroll', function() {
				var scrollY = $(window).scrollTop();
				var distanceY = window.pageYOffset || document.documentElement.scrollTop,
	        shrinkOn = 150;
				if (scrollY > shrinkOn) {
					$('.logo-img').addClass('smaller');
				} else {
					if($('.logo-img').hasClass('smaller')) {
						$('.logo-img').removeClass('smaller');
					}
				}
			});
		});
	</script>
{% endblock %}
