{% extends 'members/u_base.html' %}
{% load settings_value %}
{% load static %}

{% block lowerfooter %}{% endblock %}

{% block extrajs %}
	<script>
		$(document).on('scroll', function() {
			var scrollY = $(window).scrollTop();
			var distanceY = window.pageYOffset || document.documentElement.scrollTop,
				shrinkOn = 150;
			if (scrollY > shrinkOn) {
				$('#home').addClass('smaller');
			} else {
				if($('#home').hasClass('smaller')) {
					$('#home').removeClass('smaller');
				}
			}
		});
	});
	</script>
{% endblock %}
