{% extends "members/user.html" %}
{% load imagetags %}
{% load list_tags %}

  {% block mem_tabs %}
    <ul class='tabs prof-tabs'>
        <li class="tab col s2"><a href="#tabs-0">Member Profile</a></li>
        <li class="tab col s2"><a href="#tabs-1">Private Details</a></li>
        <li class="tab col s2"><a href="#tabs-2">Documents</a></li>
        <li class="tab col s2"><a href="#tabs-3">Membership History</a></li>
        <li class="tab col s2"><a href="#tabs-4">Daily Activity</a></li>
        <li class="tab col s2"><a href="#tabs-5">Billing</a></li>
    </ul>
  {% endblock %}
