/* Member Pages Style */

html {
	height: 100%;
}

body {
	height:100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

a {
	 text-decoration: none;
	 color: #5987C6;
}

p {
	 font-family: 'Roboto', sans-serif;
	 font-weight: normal;
	 font-size: 14px;
	 line-height: 1.6;
}

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
.invisible { visibility: hidden; }
.clearfix:after  { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { zoom: 1; }

/* Header */

#home-nav, #main-nav {
	background-color: RGBA(255, 255, 255, 1);
	position: fixed;
	top: 0;
	left: 0;
	height: 90px;
	z-index: 100;
}

#home-nav {
	box-shadow: none;
}

#home-nav a {
		color: black;
}

#main-nav {
	background-color: RGBA(239, 238, 231, 1);
}

#header_container {
	width: 100%;
	color: #5987C6;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 700;
	background-color: RGBA(246, 246, 246, 1);
	z-index: 2000;
}

#header_container a {
	color: black;
	padding-right: 20px;
	margin-right: 0;
	letter-spacing: .3px;
	font-family: "Work Sans", sans-serif;
	font-weight: lighter;
	font-size: 1.1em;
}

nav ul a:hover {
	background: none;
	border-bottom: 2px solid black;
}

#header_container a.slack-a {
	color: RGBA(231, 74, 114, 1);
}

.logo-img	 {
	content: url(img/logo-line.png);
	height: 140px;
	margin-left: 5%;
	z-index: 2000;
}

#logo {
	float: left;
	padding-left: 1%;
}

.sec-logo {
	content: url(img/logo-line.png);
	position: fixed;
	top: 0;
	left: 0;
	height: 120px;
	margin-left: 1%;
	z-index: 2000;
}

#jumbotron {
	background-color: RGBA(239, 238, 231, 1);
	padding: 4%;
	width: 100%;
	z-index: -2;
	margin-top: 4%;
}

#jumbotron h2 {
	text-align: center;
	font-family: 'Work Sans', sans-serif;
	font-weight: 900;
}

/* Body */

iframe {
	margin-left: 10%;
}

#content h2 {
	display: block;
	text-align: center;
	font-size: 1.875em;
}

#content a {
	outline:none;
}

#content img {
	margin: 10px auto;
}


#login_form,  #registration_form {
	background-color: RGBA(239, 238, 231, 1);
	padding: 2%;
	margin-right: 0;
}

#registration_form, #login_form {
	margin-top: 5%;
}

#profile_form tr, #registration_form tr, #login_form tr {
	border: none;
}

#profile_form input, #registration_form input, #login_form input {
	padding-left: 2%;
	background-color: white;
	border-bottom: none;
}

#login_form input{
	padding-left: 2%;
	margin-right: 2%;
}

.sub-btn {
	margin-top: 2%;
	margin-left: 35%;
}

#reg-btn {
	margin-left: 20%;
	width: 60%;
}

#login-btn {
	margin-left: 20%;
	width: 60%;
}

.tabs {
	color: RGBA(44, 148, 231, 1);
}

.tabs .tab {
	text-transform: none;
}

.tabs .tab a {
	color: RGBA(44, 148, 231, 1)
}

.tabs .indicator {
	background-color: RGBA(44, 148, 231, 1);
}

.mem-tabs .indicator {
	background-color: RGBA(44, 148, 231, 1);
}

.prof-tabs .indicator {
	width: 15%;
	background-color: RGBA(44, 148, 231, 1);
}

.triptic {
	text-align: justify;
}

.triptic > div {
	width: 33%;
	display: inline-block;
	vertical-align: top;
	/* IE fix. */
	*display: inline;
	zoom: 1;
}

.triptic:after {
	content: "";
	width: 100%;
	display: inline-block;
}

.lightbg {
	margin-top: 5%;
	margin-bottom: 140px;
	min-height: 500px;
	padding-top: 10px;
	overflow: auto;
}

.user-card {
	width: 190px;
	border: solid 3px #EEE;
	margin: 10px;
	text-align: center;
	display: inline-block;
}

.user-card a {
	padding: 10px 0;
	display: block;
	background:#FFFFFF;
}

.user-card a.photo {
	height: 180px;
	background-color: #FFF;
	font-size: 120px;
	color: #DDD;
	text-decoration: none;
}

.member-photo {
	float: left;
	margin: 0px 1em 1em 0px;
}

dt, dd {
	display: inline-block;
	margin: 0.25em;
}
dt { font-weight: bold; }
dd:after { content:"|"; margin-left: 0.5em; font-size: 1.2em; }
dl dd:last-child:after { content: ""; }
table th { padding: 0.5em 0.5em 0.25em; }
table th:first-child { text-align: left; width: 15%;}
table td:first-child, table td:last-child { text-align: left; }
table td { text-align: center; border-bottom: 1px solid #ccc; padding: 0.5em; }

/* Footer */

footer.home-footer, footer.main-footer {
  right: 0;
  bottom: 0;
  left: 0;
	height: 5%;
}

footer.home-footer {
	background-color: RGBA(241, 240, 234, 1);
}

#copyright {
	float: left;
	margin-left: 30%;
	color: black;
}

#nadine-link {
	color: black;
	font-weight: bold;
	letter-spacing: .5px;
}


@media only screen and (max-width: 990px) {

}


@media only screen and (max-width: 1100px) {

	#profile_form {
		width: 100%;
		margin-left: 0;
	}

	#profile_form input {
		margin-right: 1%;
	}
}
